<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free restaurant catalogue for you">
  <meta name="theme-color" content="#FFDD95" />

  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="app.webmanifest">
  <link rel="icon" href="./favicon.png">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <!-- Preload and load the font styles -->
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"></noscript>

  <link rel="preload"
    href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"></noscript>

  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link href="https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap" rel="stylesheet"></noscript>


  <link rel="preload" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" as="style"
    onload="this.onload=null;this.rel='stylesheet'" crossorigin="anonymous">
  <noscript>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"></noscript>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
  <title>IResto Apps</title>
</head>

<body>

  <header>
    <a href="#mainContent" class="skip-link">Skip to main content</a>
    <nav id="drawer">
      <div id="nav-icon" class="nav-icon">
        <picture>
          <source type="image/webp" srcset="./logo.webp">
          <source type="image/png" srcset="./logo.png">
          <img src="./logo.png" class="logo" alt="Logo">
        </picture>
        <p>IResto</p>
      </div>

      <ul>
        <li><a href="/#/explore-restaurant">Home</a></li>
        <li><a href="#/favorite">Favorite</a></li>
        <li><a href="https://github.com/ainulrozi18" target="_blank">About Us</a></li>
      </ul>

      <div class="menu-toggle">
        <input type="checkbox">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>


    <div class="jumbotron">
      <picture>
        <source media="(max-width: 576px)" srcset="./images/hero-image-small.jpg">
        <img src="./images/hero-image-large.jpg" width="450" alt="Hero/Main Image" />
      </picture>
      <div class="master-title">
        <h1 tabindex="0">Hi Guys, Welcome to My Restaurant Site</h1>
        <p tabindex="0">Discover some famous restaurant recommendations here!</p>
      </div>
    </div>
  </header>

  <main id="mainContent" tabindex="0">
    <loading-indicator></loading-indicator>
    <div class="container">
    </div>
  </main>



  <footer>
    <p tabindex="0">Copyright &copy; 2024 - <span>IResto</span></p>
  </footer>
</body>

</html>